If m3u8 subtitles are linked in a playlist without an extension of .m3u8, downloads fail - patch available

### Checklist

- [x] I'm reporting a bug unrelated to a specific site
- [x] I've verified that I have **updated yt-dlp to nightly or master** ([update instructions](https://github.com/yt-dlp/yt-dlp#update-channels))
- [x] I've searched [known issues](https://github.com/yt-dlp/yt-dlp/issues/3766), [the FAQ](https://github.com/yt-dlp/yt-dlp/wiki/FAQ), and the [bugtracker](https://github.com/yt-dlp/yt-dlp/issues?q=is%3Aissue%20-label%3Aspam%20%20) for similar issues **including closed ones**. DO NOT post duplicates
- [x] I've read the [policy against AI/LLM contributions](https://github.com/yt-dlp/yt-dlp/blob/master/CONTRIBUTING.md#automated-contributions-ai--llm-policy) and understand I may be blocked from the repository if it is violated

### Provide a description that is worded well enough to be understood

Apparently, at least one commercially available HLS packager generates .m3u8 files that refer to subtitle playlists without an extension.

Those .m3u8 files look somewhat like this:

```
#EXTM3U
#EXT-X-VERSION:7
#EXT-X-INDEPENDENT-SEGMENTS
#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="AACL",NAME="audio_482_deu",LANGUAGE="deu",AUTOSELECT=YES,DEFAULT=YES,CHANNELS="2",URI="stuff.m3u8/Alter-audio_482_deu(482)"
#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="AACL",NAME="audio_483_eng",LANGUAGE="eng",AUTOSELECT=YES,DEFAULT=NO,CHANNELS="2",URI="stuff.m3u8/Alter-audio_483_eng(483)"
#EXT-X-MEDIA:TYPE=SUBTITLES,GROUP-ID="subtitle",NAME="deu_0",LANGUAGE="deu",AUTOSELECT=YES,DEFAULT=NO,FORCED=NO,URI="stuff.m3u8/Vtt-deu_0(100)"
#EXT-X-STREAM-INF:BANDWIDTH=1000000,CODECS="mp4a.40.2,avc1.4d401e",RESOLUTION=768x432,FRAME-RATE=25,AUDIO="AACL",SUBTITLES="subtitle"
stuff.m3u8/Level(1)
#EXT-X-I-FRAME-STREAM-INF:BANDWIDTH=115195,CODECS="avc1.4d401e",RESOLUTION=768x432,URI="stuff.m3u8/Iframe(1)"
#EXT-X-STREAM-INF:BANDWIDTH=7200000,CODECS="mp4a.40.2,avc1.64002a",RESOLUTION=1920x1080,FRAME-RATE=50,AUDIO="AACL",SUBTITLES="subtitle"
stuff.m3u8/Level(2)
#EXT-X-I-FRAME-STREAM-INF:BANDWIDTH=336245,CODECS="avc1.64002a",RESOLUTION=1920x1080,URI="stuff.m3u8/Iframe(2)"
#EXT-X-STREAM-INF:BANDWIDTH=96000,CODECS="mp4a.40.2",AUDIO="AACL",SUBTITLES="subtitle"
stuff.m3u8/Level(3)
```

When `yt-dlp` parses the .m3u8 file, the function `extract_media` in `yt_dlp/extractor/common.py` under the  `if media_type == 'SUBTITLES':` case runs `determine_ext(url)`.

When this runs with a "normal" URL like `https://server/path/stuff/Vtt-deu0(100).m3u8`, this determines an extension of "m3u8", and the following `if sub_info['ext'] == 'm3u8':` matches. This then eventually results in subtitles that are downloaded correctly.

However, because *here* the URL looks like `https://server/path/stuff.m3u8/Vtt-deu_0(100)`, `determine_ext` returns an extension of "unknown_video" and the download proceeds with "Invoking http downloader" to downloading "this link", which then downloads the playlist, not the subtitles.


I'm not sure if it is actually necessary to run `determine_ext` here, because we are already in a HLS stream and I woudln't know what other kind of extension could be used. Just to be safe I changed the call to `determine_ext` by adding a default value of "m3u8", resulting in the following diff:

```diff
diff --git a/yt_dlp/extractor/common.py b/yt_dlp/extractor/common.py
index 573a9c5a0..ee0fb0ca3 100644
--- a/yt_dlp/extractor/common.py
+++ b/yt_dlp/extractor/common.py
@@ -2292,7 +2292,7 @@ def extract_media(x_media_line):
                 url = format_url(media['URI'])
                 sub_info = {
                     'url': url,
-                    'ext': determine_ext(url),
+                    'ext': determine_ext(url, default_ext='m3u8'),
                 }
                 if sub_info['ext'] == 'm3u8':
                     # Per RFC 8216 §3.1, the only possible subtitle format m3u8
```

This makes it work for the streams that I tested and shouldn't break anything.

### Provide verbose output that clearly demonstrates the problem

- [x] Run **your** yt-dlp command with **-vU** flag added (`yt-dlp -vU <your command line>`)
- [ ] If using API, add `'verbose': True` to `YoutubeDL` params instead
- [x] Copy the WHOLE output (starting with `[debug] Command-line config`) and insert it below

### Complete Verbose Output

```shell
With a unmodified yt-dlp:


[debug] Command-line config: ['-vU', '--all-subs', '--skip-download', 'https://server.example.com/path/stuff.m3u8']
[debug] Encodings: locale UTF-8, fs utf-8, pref UTF-8, out utf-8, error utf-8, screen utf-8
[debug] yt-dlp version stable@2025.09.26 from yt-dlp/yt-dlp [12b57d285] (source)
[debug] Lazy loading extractors is disabled
[debug] Git HEAD: 551303610
[debug] Python 3.11.2 (CPython x86_64 64bit) - Linux-6.1.0-38-amd64-x86_64-with-glibc2.36 (OpenSSL 3.0.17 1 Jul 2025, glibc 2.36)
[debug] exe versions: ffmpeg 5.1.7-0 (setts), ffprobe 5.1.7-0
[debug] Optional libraries: Cryptodome-3.11.0, brotli-1.0.9, certifi-2022.09.24, pyxattr-0.8.1, requests-2.28.1, secretstorage-3.3.3, sqlite3-3.40.1, urllib3-1.26.12 (unsupported)
[debug] Proxy map: {}
[debug] Request Handlers: urllib
[debug] Plugin directories: none
[debug] Loaded 1833 extractors
[debug] Fetching release info: https://api.github.com/repos/yt-dlp/yt-dlp/releases/latest
Latest version: stable@2025.09.26 from yt-dlp/yt-dlp
yt-dlp is up to date (stable@2025.09.26 from yt-dlp/yt-dlp)
[generic] Extracting URL: https://server.example.com/path/stuff.m3u8
[generic] stuff: Downloading webpage
[debug] Identified a direct video link
[generic] stuff: Downloading m3u8 information
[generic] stuff: Checking m3u8 live status
[info] stuff: Downloading subtitles: deu
[debug] Formats sorted by: hasvid, ie_pref, lang, quality, res, fps, hdr:12(7), vcodec, channels, acodec, size, br, asr, proto, vext, aext, hasaud, source, id
[debug] Default format spec: bestvideo*+bestaudio/best
[info] stuff: Downloading 1 format(s): 7200+96
[info] Writing video subtitles to: stuff [stuff].deu.unknown_video
[debug] Invoking http downloader on "https://server.example.com/path/stuff.m3u8/Vtt-deu_0(100)"
[download] Destination: stuff [stuff].deu.unknown_video
[download] 100% of   17.84KiB in 00:00:00 at 1.02MiB/s


The resulting file "stuff [stuff].deu.unknown_video" then contains the playlist, not the actual subtitles

With my patch applied:


[debug] Command-line config: ['-vU', '--all-subs', '--skip-download', 'https://server.example.com/path/stuff.m3u8']
[debug] Encodings: locale UTF-8, fs utf-8, pref UTF-8, out utf-8, error utf-8, screen utf-8
[debug] yt-dlp version stable@2025.09.26 from yt-dlp/yt-dlp [12b57d285] (source)
[debug] Lazy loading extractors is disabled
[debug] Git HEAD: 551303610
[debug] Python 3.11.2 (CPython x86_64 64bit) - Linux-6.1.0-38-amd64-x86_64-with-glibc2.36 (OpenSSL 3.0.17 1 Jul 2025, glibc 2.36)
[debug] exe versions: ffmpeg 5.1.7-0 (setts), ffprobe 5.1.7-0
[debug] Optional libraries: Cryptodome-3.11.0, brotli-1.0.9, certifi-2022.09.24, pyxattr-0.8.1, requests-2.28.1, secretstorage-3.3.3, sqlite3-3.40.1, urllib3-1.26.12 (unsupported)
[debug] Proxy map: {}
[debug] Request Handlers: urllib
[debug] Plugin directories: none
[debug] Loaded 1833 extractors
[debug] Fetching release info: https://api.github.com/repos/yt-dlp/yt-dlp/releases/latest
Latest version: stable@2025.09.26 from yt-dlp/yt-dlp
yt-dlp is up to date (stable@2025.09.26 from yt-dlp/yt-dlp)
[generic] Extracting URL: https://server.example.com/path/stuff.m3u8
[generic] stuff: Downloading webpage
[debug] Identified a direct video link
[generic] stuff: Downloading m3u8 information
[generic] stuff: Checking m3u8 live status
[info] stuff: Downloading subtitles: deu
[debug] Formats sorted by: hasvid, ie_pref, lang, quality, res, fps, hdr:12(7), vcodec, channels, acodec, size, br, asr, proto, vext, aext, hasaud, source, id
[debug] Default format spec: bestvideo*+bestaudio/best
[info] stuff: Downloading 1 format(s): 7200+96
[info] Writing video subtitles to: stuff [stuff].deu.vtt
[debug] Invoking hlsnative downloader on "https://server.example.com/path/stuff.m3u8/Vtt-deu_0(100)"
[hlsnative] Downloading m3u8 manifest
[hlsnative] Total fragments: 483
[download] Destination: stuff [stuff].deu.vtt
[download] 100% of   24.68KiB in 00:00:12 at 2.02KiB/s


The resulting "stuff [stuff].deu.vtt" then contains the correct subtitles.
```