[Broken] webvtt parser error in PBS subtitles

Ok so using the same link as when I created this issue I added the `--write-subs` flag and got this as output
```
[debug] Command-line config: ['https://www.pbs.org/video/in-the-shadow-of-911-wkijvb/', '--write-subs', '--verbose']
[debug] Encodings: locale cp1252, fs utf-8, out utf-8, pref cp1252
[debug] yt-dlp version 2021.09.02 (exe)
[debug] Python version 3.9.5 (CPython 64bit) - Windows-10-10.0.19043-SP0
[debug] exe versions: ffmpeg 4.4-full_build-www.gyan.dev, ffprobe 4.4-full_build-www.gyan.dev
[debug] Optional libraries: mutagen, pycryptodome, sqlite, websockets
[debug] Proxy map: {}
[debug] Using fake IP 6.44.180.11 (US) as X-Forwarded-For
[pbs] Downloading JSON metadata
[debug] [pbs] Extracting URL: https://www.pbs.org/video/in-the-shadow-of-911-wkijvb/
[pbs] in-the-shadow-of-911-wkijvb: Downloading webpage
[pbs] in-the-shadow-of-911-wkijvb: Downloading widget/partnerplayer page
[pbs] in-the-shadow-of-911-wkijvb: Downloading portalplayer page
[pbs] in-the-shadow-of-911-wkijvb: Downloading 0 video url info
[pbs] in-the-shadow-of-911-wkijvb: Downloading m3u8 information
[pbs] in-the-shadow-of-911-wkijvb: Downloading 1 video url info
[debug] Formats sorted by: hasvid, ie_pref, lang, quality, res, fps, vcodec:vp9.2(10), acodec, filesize, fs_approx, tbr, vbr, abr, asr, proto, vext, aext, hasaud, source, id
[debug] Downloading subtitles: en
[debug] Default format spec: bestvideo*+bestaudio/best
[info] 3057558971: Downloading 1 format(s): hls-6906
[info] Writing video subtitles to: FRONTLINE - In the Shadow of 9_11 [3057558971].en.vtt
[debug] Invoking downloader on "https://ga.video.cdn.pbs.org/videos/frontline/f216432b-e95e-468c-adbf-0bf69a9ecbeb/2000247732/hd-16x9-mezzanine-1080p/00004007-captions.m3u8"
[hlsnative] Downloading m3u8 manifest
[hlsnative] Total fragments: 38
[download] Destination: FRONTLINE - In the Shadow of 9_11 [3057558971].en.vtt
[download]   2.6% of ~112.89KiB at Unknown speed ETA 00:03ERROR: Parse error at position 37 (near ' LOCAL:00:00:00.000\n')
Traceback (most recent call last):
  File "yt_dlp\YoutubeDL.py", line 1218, in wrapper
  File "yt_dlp\YoutubeDL.py", line 1256, in __extract_info
  File "yt_dlp\YoutubeDL.py", line 1306, in process_ie_result
  File "yt_dlp\YoutubeDL.py", line 2332, in process_video_result
  File "yt_dlp\YoutubeDL.py", line 2588, in process_info
  File "yt_dlp\YoutubeDL.py", line 2473, in dl
  File "yt_dlp\downloader\common.py", line 386, in download
  File "yt_dlp\downloader\hls.py", line 344, in real_download
  File "yt_dlp\downloader\fragment.py", line 423, in download_and_append_fragments
  File "yt_dlp\downloader\fragment.py", line 401, in append_fragment
  File "yt_dlp\downloader\hls.py", line 259, in pack_fragment
  File "yt_dlp\webvtt.py", line 363, in parse_fragment
  File "yt_dlp\webvtt.py", line 217, in parse
  File "yt_dlp\webvtt.py", line 196, in __parse_tsmap
yt_dlp.webvtt.ParseError: Parse error at position 37 (near ' LOCAL:00:00:00.000\n')
```

_Originally posted by @faizjamil in https://github.com/yt-dlp/yt-dlp/issues/836#issuecomment-914876831_

There are two places where our current parser is failing with PBS subtitles

1.

```
X-TIMESTAMP-MAP=MPEGTS:198018, LOCAL:00:00:00.000
```

When parsing the timestamp, we are looking for just a `,` to separate `LOCAL` from `MPEGTS`, and we do not accept the additional spaces

2.

At 1hour mark in the file, we encounter
```
59:59.800 --> 1:00:01.970
```

For cue timestamps, we expect the format `[hh]:mm:ss.xxx`, but the cue actually uses only one digit for the hour

#922 fixes these issues and allows the subtitle to be downloaded

@fstirlitz, do you think this is an appropriate fix, or could this potentially cause any other issues?

Looks fine. [RFC 8216 §3.5](https://datatracker.ietf.org/doc/html/rfc8216#section-3.5) does not mention whitespace being allowed in `X-TIMESTAMP-MAP`, and the template doesn’t contain any, but the RFC doesn’t specify a fully formal grammar for the construct anyway. It’s not an entirely unreasonable interpretation to tolerate whitespace. We already deviate from the RFC’s template in that we allow `MPEGTS` and `LOCAL` to be specified in either order.

The cue timestamp issue is clearly a bug on their side: <https://www.w3.org/TR/webvtt1/#webvtt-timestamp> unambiguously prescribes that hours, if present, must be specified with at least two digits. But I don’t think deviating from the spec in this way is going to be harmful.

So these particular workarounds should be okay.

If I may, I would recommend testing this with the link i used.

On Wed, Sep 8, 2021, 4:02 AM pukkandan ***@***.***> wrote:

> #922 <https://github.com/yt-dlp/yt-dlp/pull/922> fixes these issues and
> allows the subtitle to be downloaded
>
> @fstirlitz <https://github.com/fstirlitz>, do you think this is an
> appropriate fix, or could this potentially cause any other issues?
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/yt-dlp/yt-dlp/issues/921#issuecomment-915010953>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ABUCMSRPG3RIVKKKZJT6RXTUA4KALANCNFSM5DUDQ6EQ>
> .
> Triage notifications on the go with GitHub Mobile for iOS
> <https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&mt=8&pt=524675>
> or Android
> <https://play.google.com/store/apps/details?id=com.github.android&referrer=utm_campaign%3Dnotification-email%26utm_medium%3Demail%26utm_source%3Dgithub>.
>
>


@faizjamil yes, I tested with `https://www.pbs.org/video/in-the-shadow-of-911-wkijvb` and it downloads correctly

```
$ yt-dlp https://www.pbs.org/video/in-the-shadow-of-911-wkijvb --write-sub -v --force-over
[debug] Command-line config: ['https://www.pbs.org/video/in-the-shadow-of-911-wkijvb', '--write-sub', '-v', '--force-over']
[debug] Encodings: locale cp1252, fs utf-8, out utf-8, pref cp1252
[debug] yt-dlp version 2021.09.02 (source)
[debug] Plugin Extractors: ['SamplePlugin']
[debug] Git HEAD: c0c5e9866
[debug] Python version 3.9.6 (CPython 64bit) - Windows-10-10.0.19043-SP0
[debug] exe versions: ffmpeg n4.4-79-gde1132a891-20210809, ffprobe 2021-04-11-git-309e3cc15c-full_build-www.gyan.dev, phantomjs 2.1.1
[debug] Optional libraries: mutagen, pycryptodome, sqlite, websockets
[debug] Proxy map: {}
[debug] Using fake IP 6.169.250.76 (US) as X-Forwarded-For
[pbs] Downloading JSON metadata
[debug] [pbs] Extracting URL: https://www.pbs.org/video/in-the-shadow-of-911-wkijvb
[pbs] in-the-shadow-of-911-wkijvb: Downloading webpage
[pbs] in-the-shadow-of-911-wkijvb: Downloading widget/partnerplayer page
[pbs] in-the-shadow-of-911-wkijvb: Downloading portalplayer page
[pbs] in-the-shadow-of-911-wkijvb: Downloading 0 video url info
[pbs] in-the-shadow-of-911-wkijvb: Downloading m3u8 information
[pbs] in-the-shadow-of-911-wkijvb: Downloading 1 video url info
[debug] Formats sorted by: hasvid, ie_pref, lang, quality, res, fps, vcodec:vp9.2(10), acodec, filesize, fs_approx, tbr, vbr, abr, asr, proto, vext, aext, hasaud, source, id
[debug] Downloading subtitles: en
[debug] Default format spec: bestvideo*+bestaudio/best
[info] 3057558971: Downloading 1 format(s): hls-6906
[info] Writing video subtitles to: FRONTLINE - In the Shadow of 9_11 [3057558971].en.vtt
[debug] Invoking downloader on "https://ga.video.cdn.pbs.org/videos/frontline/f216432b-e95e-468c-adbf-0bf69a9ecbeb/2000247732/hd-16x9-mezzanine-1080p/00004007-captions.m3u8"
[hlsnative] Downloading m3u8 manifest
[hlsnative] Total fragments: 38
[download] Destination: FRONTLINE - In the Shadow of 9_11 [3057558971].en.vtt
[download] 100% of 121.63KiB in 00:43
[debug] Invoking downloader on "https://ga.video.cdn.pbs.org/videos/frontline/f216432b-e95e-468c-adbf-0bf69a9ecbeb/2000247732/hd-16x9-mezzanine-1080p/00004007-hls-16x9-1080p-1080p-6500k.m3u8"
[hlsnative] Downloading m3u8 manifest
[hlsnative] Total fragments: 1143
[download] Destination: FRONTLINE - In the Shadow of 9_11 [3057558971].mp4
[download]   1.0% of ~5.51GiB at  1.58MiB/s ETA 01:21:06
ERROR: Interrupted by user
```